.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  justify-items: center;
  margin-bottom: 67px;
}
@media screen and (max-width: 1050px) {
  .cards {
    margin-bottom: 36px;
  }
}
