.popup__save {
  width: 100%;
  min-height: 50px;
  background: #000000;
  border-radius: 2px;
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 43px;
  padding: 0;
  border: none;
}
.popup__save:hover {
  background-color: #333333;
}
@media screen and (max-width: 500px) {
  .popup__save {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
