.header__logo {
  background-image: url(../../../images/logo@2x.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0;
  margin-top: 50px;
  margin-bottom: 41px;
  width: 142px;
  height: 33px;
}
.header__logo:hover {
  background-image: url(../../../images/logoblack.png);
}
@media screen and (max-width: 1050px) {
  .header__logo {
    margin-left: 27px;
    margin-top: 28px;
    margin-bottom: 31px;
    width: 104px;
  }
}
