.popup__close-button {
  position: absolute;
  height: 56px;
  width: 56px;
  background: transparent;
  top: -52px;
  right: -52px;
  border: none;
  padding: 0;
  outline: none;
}
.popup__close-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 500px) {
  .popup__close-button {
    height: 37px;
    width: 37px;
    top: -55px;
    right: -10px;
  }
}
