.popup__image {
  max-height: 540px;
  max-width: 816px;
}
@media screen and (max-width: 850px) {
  .popup__image {
    max-width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .popup__image {
    max-height: 299px;
    max-width: 100%;
  }
}
