.popup__closebutton {
  position: absolute;
  height: 48px;
  width: 48px;
  background: #000000;
  top: -48px;
  right: -48px;
  border: none;
  z-index: 0;
  padding: 0;
}
@media screen and (max-width: 500px) {
  .popup__closebutton {
    height: 28px;
    width: 28px;
    top: -40px;
    right: 0;
  }
}
